// 3rd party application styles

// TABS
// Due to the likelyhood of breakage on some apps we'll make these app specific instead of global
// The downside is that not all apps will be able to use these tabs
%libadwaita_tabs {
  notebook {
    > header {
      background-color: $headerbar_bg_color;
      border-bottom: 1px solid $headerbar_shade_color;
      box-shadow: none;

      &:backdrop {
        background-color: $headerbar_backdrop_color;
        box-shadow: none;
      }
    }

    arrow.down + tab,
    tab:first-child {
      &.reorderable-page {
        background-image: none;
        box-shadow: none;
      }
    }

    tab {
      &.reorderable-page {
        -gtk-outline-radius: $button_radius + 2;
        outline-width: 2px;
        outline-style: solid;
        outline-color: entry_focus_border();

        min-height: 37px;
        padding: 4px 0 0 0;
        box-shadow: none;
        border: none;
        color: $headerbar_fg_color;

        background-color: $headerbar_bg_color;
        background-image: if($variant == 'light',
                              -gtk-scaled(
                                url('assets/tab-border-light.png'),
                                url('assets/tab-border-light@2.png')
                              ),
                              -gtk-scaled(
                                url('assets/tab-border-dark.png'),
                                url('assets/tab-border-dark@2.png')
                              )
                            );

        background-position: left;
        background-repeat: no-repeat;

        &:backdrop { box-shadow: none; }

        > box {
          // A rather ugly hack to get spacing between the tabs
          margin: 0 3px 3px 3px;
          padding-right: 8px;
          border-radius: $button_radius;

          > label { padding-left: 8px; }

          button {
            // The button will get elongated otherwise.
            // One downside is that it looks smaller than libadwaita/libhandy
            // and also slightly increases the height of the tabbar, but just by 1-2px.
            margin: 8px 0;
          }
        }
      }

      &:hover {
        &.reorderable-page {
          color: $headerbar_fg_color;
          background-color: transparent;
          box-shadow: none;
          border: none;

          > box {
            background-color: $view_hover_color;
            transition: background-color 150ms ease-in-out;
          }

          &, + tab { background-image: none; }

          &:backdrop {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }

      &:backdrop {
        &.reorderable-page {
          color: gtkmix($headerbar_fg_color, $headerbar_backdrop_color, 50%);
          background-color: transparent;
          box-shadow: none;
          border: none;
        }
      }

      &:checked {
        &.reorderable-page {
          color: $headerbar_fg_color;
          background-color: transparent;
          box-shadow: none;
          border: none;

          > box {
            background-color: $view_selected_color;
            transition: background-color 150ms ease-in-out;
          }

          &:hover, &:active {
            box-shadow: none;
            background-color: transparent;

            > box { background-color: $view_selected_hover_color; }

            &:backdrop { box-shadow: none; }
          }

          &, + tab { background-image: none; }

          &:backdrop {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// ************
// * Nautilus *
// ************

.nautilus-window {
  @extend %libadwaita_tabs;

  // Without this nautilus iconview grabs the bg_color
  notebook,
  notebook > stack:not(:only-child),
  notebook > stack:not(:only-child) searchbar { @extend %view; }

  headerbar, .titlebar {
    // Path-bar
    .path-bar-box {
      border-radius: $button_radius;
      border: none;
      padding-right: 6px;
      @include button(normal, $headerbar_bg_color, $headerbar_fg_color);

      &:backdrop {
        @include button(backdrop, $headerbar_backdrop_color, $backdrop_headerbar_fg);
      }
    }

    .nautilus-path-bar {
      border-radius: $button_radius;
      @include button(normal, $headerbar_bg_color, $headerbar_fg_color);
      min-height: 34px;

      &:backdrop {
        @include button(backdrop, $headerbar_backdrop_color, $backdrop_headerbar_fg);
      }

      button:not(.titlebutton) {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px;

        &.current-dir {
          border-width: 0px;
          border-radius: $button_radius;
          background-color: transparent;
        }

        &:not(.current-dir) {
          border-width: 0px;
          border-radius: $button_radius;
          background-color: transparent;

          &:hover {
            @include button(active, $bg_color, $headerbar_fg_color);
            * { opacity: 1; }
            &:backdrop {
              @include button(backdrop-active, $headerbar_backdrop_color, $backdrop_headerbar_fg);
            }
          }
        }

        &.toggle.popup {
          @include button(normal, $headerbar_bg_color, $headerbar_fg_color);
          border-radius: 0 $button-radius $button-radius 0;
          border-left: 1px solid $border_color;
          image { color: $headerbar_fg_color; }

          &:hover { @include button(hover, $headerbar_bg_color, $headerbar_fg_color); }

          &:checked { @include button(active, $headerbar_bg_color, $headerbar_fg_color); }

          &:backdrop {
            @include button(backdrop, $headerbar_backdrop_color, $backdrop_headerbar_fg);
            &:hover { @include button(normal, $headerbar_backdrop_color, $backdrop_headerbar_fg); }
            border-left: 1px solid $border_color;
          }
        }
      }
    }
  }

  .path-buttons-box {
    border: 2px solid transparent;

    button { min-height: 22px; }
  }

  .titlebar {
    :not(.raised) .linked > button {
      @extend %linked;
      @extend %headerbar_buttons;
    }
  }

  // Back and forward buttons
  .linked.raised button.image-button:not(:only-child) {
    &, &:backdrop, &:disabled, &:backdrop:disabled {
      @extend %headerbar_buttons;
      border: none;
    }
  }

  .linked button.disclosure-button:not(:hover):not(:checked):not(:active),
  .linked .image-button:not(:hover):not(:checked):not(:active):not(.model) {
    &, &:backdrop { background-color: transparent; }
  }

  .search + .toggle.popup {
    @extend %colored_buttons;
    border-left-color: $border_color;
  }

  // Location entry button
  .linked entry ~ .image-button:not(:hover):not(:checked):not(:active):not(.model) { @extend %colored_buttons; }

  .view .dim-label { color: gtkalpha($fg_color, 0.55); }

  // Add a border around thumbnails
  .thumbnail {
    box-shadow: 0px 1px 2px 0px gtkalpha($borders_color, 0.5),
                0px 0px 0px 1px gtkalpha($borders_color, 0.5),
                0px 2px 0px 0px gtkalpha($borders_color, 0.5);
    border-radius: 2px;
    @extend %checkerboard;
  }

   // https://github.com/lassekongo83/adw-gtk3/issues/89
  .operations-list,
  .operations-list > :hover {
    background: none;
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/111
  .nautilus-canvas-item { border-radius: 0px; }

  .nautilus-canvas-item.label-text { border-radius: $button_radius; }

  // List view
  .nautilus-list-view {
    .view {
      &:selected {
        background-color: $view_selected_color;
        color: $text_color;
        &:hover { background-color: $view_selected_hover_color; }
      }
      &:hover {
        background-color: $view_hover_color;
      }
    }
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/160
  entry.search > :not(.csd) {
    margin: 5px;
    &:not(image), &:backdrop:not(image) {
      color: $selected_fg_color;
      background-color: $suggested_bg_color;
    }
  }
}

// Floating status bar
.floating-bar {
  padding: 3px;
  background-color: $base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 8px 0 0 0;
}
.floating-bar.bottom.left {
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right {
  border-right-style: none;
  border-top-right-radius: 0;
}
.floating-bar:backdrop {
  background-color: $base_color;
  border-color: $backdrop_borders_color;
}
.floating-bar button {
  padding: 0px;
}

// Disk space pie
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: #eeeeec;

.disk-space-display {
  border-style: solid;
  border-width: 2px;
}
.disk-space-display.unknown {
  background-color: $disk_space_unknown;
  border-color: shade($disk_space_unknown, 0.7);
  color: $disk_space_unknown;
}
.disk-space-display.unknown.border {
  color: shade($disk_space_unknown, 0.7);
}

.disk-space-display.used {
  background-color: $disk_space_used;
  border-color: shade($disk_space_used, 0.7);
  color: $disk_space_used;
}
.disk-space-display.used.border {
  color: shade($disk_space_used, 0.7);
}
.disk-space-display.free {
  background-color: $disk_space_free;
  border-color: shade($disk_space_free, 0.7);
  color: $disk_space_free;
}
.disk-space-display.free.border {
  color: shade($disk_space_free, 0.7);
}

// *********
// * Gedit *
// *********

.org-gnome-gedit, .gedit-side-panel-paned { @extend %libadwaita_tabs; }

.gedit-search-slider {
  // gives gedit search entry some padding and a border
  // otherwise it's right under the headerbar
  background: $bg_color;
  border: 1px solid $borders_color;
  border-top-style: none;
  padding: 4px 8px;
  border-radius: 0 0 $button_radius $button_radius;

  button {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.gedit-document-panel {
  // 'documents' pane

  background-color: $bg_color;

  row.activatable {
    padding: 6px;
  }

  row button {
    // 'close' button
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
  }

  row:hover button {
    &:hover {
      background-color: gtkalpha(currentColor, .15);
    }

    &:active {
      background-color: gtkalpha(currentColor, .3);
    }
  }

  row:hover:selected button:hover {
    color: $fg_color;
  }
}

// ****************
// * gnome-tweaks *
// ****************

list.tweak-categories separator.horizontal {
  background: transparent;
  margin: 2px 0;
}

.tweak-group .tweak list {
  border-radius: $card_radius;
  border: 1px solid $borders_color;
}

// **************
// * gnome-todo *
// **************

.org-gnome-Todo {
  taskrow.activatable.new-task-row button.popup.toggle {
    border-radius: 0px;
    border: none;
    border-left: 1px solid $borders_color;
    padding-left: 10px;
    padding-right: 10px;
    -gtk-outline-radius: 0px;
  }

  viewport.view,
  listbox.transparent {
    background-color: gtkshade($base_color, 0.95);

    &:backdrop {
      background-color: $backdrop_base_color;
    }
  }
}

// *********
// * Guake *
// *********

// Fix bugged transparent headerbar background
window#guake-terminal notebook header {
  background: $headerbar_bg_color;
}

// *********
// * XFCE4 *
// *********

XfdesktopIconView.view {
  background: transparent;
  color: $osd_fg_color;
  border-radius: $button_radius;
  &:active {
    background: gtkalpha(gtkmix(black, $selected_bg_color, 15%), 0.5);
    text-shadow: 0 1px 1px black;
  }
  .label { text-shadow: 1px 1px 2px black; }
  .rubberband {
    @extend rubberband;
    border-radius: 0;
  }
}

// Xfce4 panel
@define-color panel_bg_color black;
@define-color panel_fg_color white;
$panel_bg_color: gtkcolor(panel_bg_color);
$panel_fg_color: gtkcolor(panel_fg_color);
$panel_transition_duration: 250ms;
.xfce4-panel.background {
  border: none; 
  background-color: $panel_bg_color;
  color: $panel_fg_color;
  transition-duration: $panel_transition_duration;

  .tasklist button,
  #actions-button,
  #clock-button { margin: 2px; }

  .tasklist image {
    //-gtk-icon-transform: scale(0); margin: -10px; // Removes the icon
    margin-left: 2px;
    margin-right: 2px;
  }

  button {
    label {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  button {
    padding: 0 6px;
    min-height: 12px;
    min-width: 12px;
    border-radius: 24px;
    color: $panel_fg_color;
    @include button(undecorated);

    &:disabled {
      background-color: transparent;
      color: gtkalpha($panel_fg_color, 0.2);
    }

    &:hover:not(:active):not(:checked) {
      color: $panel_fg_color;
      background-color: gtkalpha($panel_fg_color, 0.25);
      background-image: none;
    }

    &:checked {
      background-color: gtkalpha($panel_fg_color, 0.2);
      color: $panel_fg_color;

      &:hover { background-color: gtkalpha($panel_fg_color, 0.35); }

      &:disabled {
        @include button(undecorated);
        color: gtkalpha($panel_fg_color, 0.2);
      }
    }
    entry { caret-color: $text_color; }
    menu {
      -gtk-icon-effect: none;

      text-shadow: none;
      // Theme pulseaudio-plugin's mpris buttons
      .linked button {
        @extend %linked;
        @include button(normal, $menu_color, $text_color);
        &:disabled {
          @include button(insensitive);
          border-color: gtkalpha($borders_color, $disabled_opacity);
        }
      }
    }
  }
}

// ********
// * Nemo *
// ********

%desktop-canvas-item,
.nemo-desktop.nemo-canvas-item {
  color: $selected_fg_color;
  text-shadow: 1px 1px 2px transparentize(black, 0.2);
}

.nemo-properties-dialog {
  .dialog-action-box .dialog-action-area {
    // add margin to preferences buttons
    margin: 2px 6px 4px;
  }

  toolbar stackswitcher.linked button {
    margin-right: 0;

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}

.nemo-window {
  .sidebar {
    scrolledwindow.frame.nemo-places-sidebar {
      // get rid of double border in sidebar
      border: none;
    }

    viewport.frame box.vertical treeview.view.places-treeview {
      // use sidebar bg color
      background-image: image($sidebar_bg_color);
      border-radius: 0; // get rid of weird radius on selected rows

      &:selected {
        background: $selected_bg_color;
      }

      &:not(:selected) {
        &:not(:backdrop):hover {
          background-image: image($base_hover_color);
        }
      }
    }
  }

  .nemo-inactive-pane .view,
  .nemo-inactive-pane iconview {
    // Shades the background of the inactive pane
    background-color: $backdrop_bg_color;
  }

  .nemo-window-pane {
    widget.entry {
      // Add border around rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $fg_color;
      border-color: $selected_bg_color;
      background-color: $bg_color;
    }

    widget.entry:selected {
      // Add highlighting to selected text in rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $selected_fg_color;
      border-color: $selected_bg_color;
      background-color: $selected_bg_color;
    }
  }

  toolbar.horizontal.primary-toolbar {
    // add border under toolbar
    border-bottom: 1px solid $borders_color;

    widget.linked.raised button {
      // use proper icons for next and left in stackswitcher-like pathbar
      &:first-child widget {
        -gtk-icon-source: -gtk-icontheme('go-previous-symbolic');
      }
      &:last-child widget {
        -gtk-icon-source: -gtk-icontheme('go-next-symbolic');
      }
    }

    toolitem box widget * {
      // reset toolbar button dimensions
      min-height: 0;
      min-width: 0;
    }

    .linked button {
      // link linked buttons
      margin-right: 0;
    }
  }
}

// *******************
// * USB Creator GTK *
// *******************

#dialog-action_area3 {
  margin: 5px;
}

// ************
// * Chromium *
// ************

window.background.chromium {
  background-color: if($variant == 'light', $bg_color, gtkmix(currentColor, $bg_color, 10%));

  // If there was/is an incognito class then https://github.com/lassekongo83/adw-gtk3/issues/147
  // could be fixed, so disabled for now until a better solution is found.
  //headerbar.titlebar button.titlebutton {
  //  color: white;
  //}

  entry,
  > button {
    border-color: gtkmix(currentColor, $bg_color, 27%);
    background-color: gtkmix(currentColor, $bg_color, 20%);
  }

  textview.view { 
    background-color: $base_color;
  }
}

// ******************
// * gnome-calendar *
// ******************

.org-gnome-Calendar {
  .titlebar .text-button { @extend %colored_buttons; }
}

// ***********
// * Firefox *
// ***********

#MozillaGtkWidget.background {
  button { font-weight: initial; }

  @if $variant == 'light' {
    scrollbar slider {
      background-color: gtkalpha(currentColor, .4);
      &:hover { background-color: gtkalpha(currentColor, .6); }
    }
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/130
  menuitem {
    check,
    radio {
      min-height: 12px;
      min-width: 12px;
    }
  }
}
@if $variant == 'dark' {
  #MozillaGtkWidget {
    &.background { background-color: $headerbar_bg_color; }

    > widget {
      border { border-color: $borders_color; }
    }
  }
}

// ************************
// * Epiphany / GNOME Web *
// ************************

// https://github.com/lassekongo83/adw-gtk3/issues/59
button .download_progress trough { min-height: 2px; }

.titlebar .navigation-box.linked button:not(:only-child) {
  &, &:disabled, &:backdrop {
    &:not(:hover):not(:active) { @include button(undecorated); }
    &:last-child { border-left-color: transparent; }
  }
}

// Attempts to style the suggestions. The text color of the large label/.title can't be styled.
dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:selected {
  &, &:hover { background-color: $selected_bg_color; } // FIXME: Hover not working for some reason.

  .subtitle {
    color: $selected_fg_color;
    @extend .dim-label;
  }
  image { color: $selected_fg_color; }
}

// ***********
// * Builder *
// ***********

.org-gnome-Builder {
  .dzlmenubuttonitem {
    font-weight: normal;
    min-height: 32px;
  }
}

// ******************
// * gnome-terminal *
// ******************

terminal-window notebook > header {
  &.top,
  &.bottom {
    tabs {
      &:not(:only-child) {
        &:first-child { margin-left: 0px; }
        &:last-child { margin-right: 0px; }
      }
    }
  }
}

terminal-window notebook {
  scrollbar {
    slider {
      // Fix for Ubuntu
      // avoids scrollbar protruding from the terminal window on wayland session
      // workaround for https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1720651
      margin: 0;
      border-width: 3px;
    }
  }
}

// ********
// * Caja *
// ********

window.background.caja-navigation-window #Toolbar {
  border-bottom: 1px solid $borders_color;

  &:backdrop {
    background-color: $backdrop_bg_color;
    border-color: $backdrop_borders_color;
  }
}

.caja-pathbar button {
  min-width: 32px;
  border-radius: 0;
  border-right-width: 0;
  margin-right: -3px;

  &.slider-button:nth-child(odd) {
    border-radius: $button_radius 0px 0px $button_radius;
  }
  &.slider-button:nth-child(even) {
    border-radius: 0 $button_radius $button_radius 0;
    border-right-width: 1px;
  }
}

.caja-side-pane .frame {
  border-style: solid none none none;
}
.caja-notebook {
  .view, .view.frame, .frame {
    border-left: 0;
    border-right: 0;
  }
}

// Gets rid of fat separator on backdrop
.caja-side-pane + separator + box:backdrop {
  background: $backdrop_bg_color;
}

.caja-navigation-window,
.caja-desktop-window {
  widget.view widget.entry {
    background: gtkmix(currentColor, $bg_color, 5%);
    color: $fg_color;
    border-color: $borders_color;
  
    &:selected {
      background: $selected_bg_color;
      color: $selected_fg_color;
    }
  }
}

// desktop mode
.caja-desktop.caja-canvas-item {
  @extend %desktop-canvas-item;
}

// ************
// * GNU Cash *
// ************

#gnc-id-main-window {
  // https://github.com/lassekongo83/adw-gtk3/issues/148
  treeview.view {
    &:not(:selected):hover {
      background-color: gtkmix(currentColor, $base_color, 7%);
    }
  }
}

// *********
// * Geary *
// *********

geary-conversation-viewer#conversation_viewer {
  list.background.conversation-listbox.content {
    background-color: $bg_color;
    border: none;
    border-radius: 0;

    > row.activatable {
      border: 1px solid $borders_color;
      border-bottom-width: 0;

      &:first-child {
        border-top-left-radius: $card_radius;
        border-top-right-radius: $card_radius;
      }
    }

    .geary-attachment-pane {
      border-radius: 0 0 $card_radius $card_radius;

      actionbar.background {
        background-color: transparent;

        > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }

    geary-composer-editor {
      > box.background {
        background-color: transparent;

        > actionbar > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }
  }

  searchbar {
    > revealer > box {
      background-color: $base_color;
      border-color: $borders_color;
    }
  }
}

.geary-folder-popover-list-row {
  border-radius: 0;
  margin:0;
}

// ************
// * Inkscape *
// ************

#DialogNotebook treeview.view:hover {
  background-color: gtkalpha($selected_bg_color, .5);
}
